<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Odla</title>
    <link rel="icon" type="image/png" href="/images/Favicon.png">

    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.css">


    <meta name="description" content="Flashcard Learning Application">
    <meta name="author" content="Julian Theoderik Trajanson">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>

  </head>
  <body>
    <div class="container">

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Odla</a>
            </div>


            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#contact">Contact</a></li>
                <li><a href="#">About</a></li>
              </ul>



              <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                  <li><a href="/">Dashboard</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/users/logout">Logout</a></li>
                      <li role="separator" class="divider"></li>

                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                {{else}}
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                {{/if}}
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>




        <div class="row">
          <div class="col-lg-12">
            {{#if success_msg}}
              <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
              <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
              <div class="alert alert-danger">{{error}}</div>
            {{/if}}

            {{{body}}}
          </div>
        </div>


        <footer class="footer">
          <p>© 2016 Jounce, Inc.</p>
        </footer>
      </div>









<!--






<div class="row">
  <div class="col-lg-12">
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{{body}}}
  </div>
</div>







    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
            <li role="presentation"><a href="/">Dashboard</a></li>
            <li role="presentation"><a href="/">{{user.name}}</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li>
            {{else}}
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">Odla</h3>
      </div>

      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}
        </div>

      </div> -->

      <footer class="footer">
        <p>© 2016 Jounce, Inc.</p>
      </footer>

    </div>
  </body>
</html>
