<link rel="stylesheet" href="/css/moonwalkingFlashcard.css" />


<script>
  let draftMoonwalk = {
    stockPerson: "{{draftMoonwalk.stockPerson}}",
    user:        "{{draftMoonwalk.user}}",
    created_at:  "{{draftMoonwalk.created_at}}",
    completed:   "{{draftMoonwalk.completed}}",
    personStatement: "{{draftMoonwalk.personStatement}}",
    voice: "{{draftMoonwalk.voice}}",
    imageURL: "{{draftMoonwalk.imageURL}}",
    stockPersonFirstName: "{{draftMoonwalk.stockPersonFirstName}}",
    phoneNumber:  "{{draftMoonwalk.phoneNumber}}"
  };
  let username = "{{user.name}}";
  let userNumberRepresentations = {{{userNumberRepresentations}}};
  console.log(draftMoonwalk);
  let stockPersonPhotoPath = "{{stockPersonPhotoPath}}";
  let personStatementAudio = new Audio(`/api/audioGenerationAPI/?text=${draftMoonwalk.personStatement}&voice=${draftMoonwalk.voice}`);
  let stockPersonFirstName = "{{stockPersonFirstName}}";
  personStatementAudio.play();
</script>
<script src="/js/dailyMoonwalk.js" defer="defer"></script>



<div id="flashcard" class="flashcard-container flip-container">
    <div class="flipper">

      <div class="front-of-flashcard">

        <div id="image-container" >
          <img id="stockPersonImage" />
        </div>

        <!-- <img class="flashcard-audio-image" src="/images/audioPurple.png" /> -->
        <button id="repeat-audio-button">
          Um.. can you repeat that?
        </button>


        <div id="flip-button-container">
          <button id="flip-button">Thanks {{stockPersonFirstName}}, I've got it!</button>
        </div>

        <button id="visualization-request-button">
          I could use some help visualizing this.
        </button>

      </div>

      <div class="back-of-flashcard">
        <div id="rear-flashcard-text">
          Come back later and if you can remember {{stockPersonFirstName}}'s phone number, you'll win some points. The longer you can wait, the more points you'll get!<br/>(No Cheating!)
        </div>

        <div id="moonwalk-time-elapsed"></div>
      </div>

    </div>
  </div>
